html,
body {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
.home {
  padding-top: 300px;
  padding-bottom: 300px;

  background-color: lightskyblue;
  background-size: contain;
}
@media (min-width: 768px) {
  .home {
    padding-top: 300px;
    padding-bottom: 300px;
    background: url("cara.png") no-repeat;
    background-color: lightskyblue;
    background-size: contain;
  }
}
.menu {
  background-color: lightskyblue;
}

.menu h1 {
  color: Black;
}
.menu-item {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  padding-top: 15px;
  text-decoration: none;
}

.menu-item:hover {
  background-color: lightblue;
}

.about {
  padding-top: 100px;
  padding-bottom: 50px;
  align-content: center;
}
.info {
  padding-bottom: 100px;
}
.work {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: lightyellow;
}
.projects {
  text-align: center;
  padding-bottom: 50px;
  background-color: green;
  border-radius: 50px;
  margin-bottom: 50px;
}
.projects h5{
  text-align: left;
}
.experience {
  padding-top: 0px;
  padding-bottom: 50px;
  background-color: lightgreen;
}

.more-item {
  margin-top: 100px;
  background-color: orange;
  padding-bottom: 100px;
  border-radius: 50px;
}
.footer {
  color: lightslategray;
  background-color: black;
}
